<a id="desc-product-export" class="list-toolbar-btn" href="{{ filepath }}" download>
  <span data-toggle="pstooltip" class="label-tooltip" data-original-title="{{ "Export XML"|trans({}, 'Module.Foo') }}" data-html="true" data-placement="top">
    <i class="material-icons">cloud_upload</i>
  </span>
</a>
